<div class="container">
    <div class="top-div">
    </div>
    <div class="lower-div">
        <h2>FAQs</h2>
        <!-- create a schema for FAQ and answers or manually type info  -->
        <ul class="list list-unstyled">
            <hr>
            <li>
                <!-- shorten what's shown on the page and expand when click -->
                <p>Question: What is a concussion?</p>
                <p> Answer:</p>
            </li>
            <hr>
            <li>
                <p>If my child has a concussion, will s/he be OK?</p>
                <p> Answer:</p>
            </li>
            <hr>
            <li>
                <p>How can I tell if my child has sustained a concussion?</p>
                <p> Answer:</p>
            </li>
            <hr>
            <li>
                <p>My child did not lose consciousness. Does this mean my child did not have a concussion?</p>
                <p> Answer:</p>
            </li>
            <hr>
            <li>
                <p>My child did not get hit in the head. Could s/he still have a concussion?</p>
                <p> Answer:</p>
            </li>
            <hr>
            <li>
                <p>It didn’t appear that my child got hit that hard. Could they really have sustained a concussion?</p>
                <p> Answer:</p>
            </li>
            <hr>
            <li>
                <p>The coach pulled my child from the game after she collided with a teammate. She got up and stumbled and looked dazed, but said she felt fine except for a mild headache. Is it really necessary to take her out of the game?</p>
                <p> Answer:</p>
            </li>
            <hr>
            <li>
                <p>Is a concussion always obvious right away?</p>
                <p> Answer:</p>
            </li>
            <hr>
            <li>
                <p>My child sustained a concussion. Should I take him/her to see a doctor?</p>
                <p> Answer:</p>
            </li>
            <hr>
            <li>
                <p>Do I need to wake my child up every hour when s/he is sleeping?</p>
                <p> Answer:</p>
            </li>
            <hr>
            <li>
                <p>Is it okay to give my child medicine for his/her headache?</p>
                <p> Answer:</p>
            </li>
            <hr>
            <li>
                <p>What signs indicate a need for immediate emergency attention rather than waiting to see our pediatrician?</p>
                <p> Answer:</p>
            </li>
            <hr>
            <li>
                <p>My child wants to sleep all day long. Should I allow him/her to sleep as much as s/he wants?</p>
                <p> Answer:</p>
            </li>
            <hr>
            <li>
                <p>Does my child need to give up sports if s/he has suffered a concussion?</p>
                <p> Answer:</p>
            </li>
            <hr>
            <li>
                <p>My doctor told my child to have mental rest. What exactly does “rest” mean?</p>
                <p> Answer:</p>
            </li>
            <hr>
            <li>
                <p>Can my child watch television, play video games, text, etc.?</p>
                <p> Answer:</p>
            </li>
        </ul>
    </div>

</div>
