<div class="container">
    <div class="top-div">
    </div>
    <div class="lower-div">
        <!-- show and hide based on message risk level -->

        <div>
            <h2>Keep an eye out</h2>
            <p>Looks like Alicia had a couple small dings.</p>
            <p>Use the symptoms list as a guide</p>
        </div>

        <div>
            <h2>Alicia may be at risk</h2>
            <p>Looks like it's pretty rough out there. Might be good to check for head trauma symptoms or contact your doctor</p>
        </div>

        <div>
            <!-- symptoms image and clickable link -->
            <img>
            <!-- Email your doctor image and clickable link -->
            <img>
            <!-- FAQs image and clickable link -->
            <img>
        </div>
    </div>

</div>
