<div class="container-fluid">
  <div class="top-div">
  </div>
  <div class="lower-div">
    <h2>Symptoms</h2>
    <ul class="list list-unstyled">
      <li><a href="#headaches">Headaches</a></li>
      <li><a href="#dizziness">Dizziness</a></li>
      <li><a href="#nausea">Nausea</a></li>
      <li><a href="#fatigue">Fatigue</a></li>
      <li><a href="#confusion">Confusion</a></li>
      <li><a href="#vision">Vision problems</a></li>
      <li><a href="#hearing">Hearing problems</a></li>
    </ul>
  </div>

<!-- use ng-if or ng-show and hide here on click above -->
  <div id="headaches">
    <p>More detailed description of headache here.</p>
  </div>
  <div id="dizziness">
    <p>More detailed description of dizziness here.</p>
  </div>
  <div id="nausea">
    <p>More detailed description of nausea here.</p>
  </div>
  <div id="fatigue">
    <p>More detailed description of fatigue here.</p>
  </div>
  <div id="confusion">
    <p>More detailed description of confusion here.</p>
  </div>
  <div id="vision">
    <p>More detailed description of vision here.</p>
  </div>
  <div id="hearing">
    <p>More detailed description of hearing here.</p>
  </div>

</div>
